@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PeerReviewApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PeerReviewApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha-long-hash_code" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">PeerReviewApp</a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav text-white">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Admin" asp-action="Index">
                                    <span class="fas fa-cog"></span>&nbsp;Admin
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                @* Code to be implemented after adding a separate instructor role  VVVVV

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.IsInRole("Instructor"))
                    {
                        <ul class="navbar-nav flex-grow-1 text-white">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Instructor" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <!-- No page created for this yet -->
                                <a class="nav-link text-white" asp-area="" asp-controller="Instructor" asp-action="Groups">Groups</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Instructor" asp-action="ViewClasses">Courses</a>
                            </li>
                            <li class="nav-item">
                                <!-- No page created for this yet -->
                                <a class="nav-link text-white" asp-area="" asp-controller="Instructor" asp-action="Reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Instructor" asp-action="ViewStudents">Students</a>
                            </li>
                            <li class="nav-item">
                                <!-- No page created for this yet -->
                                <a class="nav-link text-white" asp-area="" asp-controller="Instructor" asp-action="Documents">Documents</a>
                            </li>
                        </ul>
                    } else if (signInManager.IsSignedIn(User)){
                        <ul class="navbar-nav flex-grow-1 text-white">
                            <li class="nav-item">
                                <!-- No page or controller created for this yet -->
                                <a class="nav-link text-white" asp-area="" asp-controller="Student" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <!-- No page or controller created for this yet -->
                                <a class="nav-link text-white" asp-area="" asp-controller="Student" asp-action="Privacy">Groups</a>
                            </li>
                            <li class="nav-item">
                                <!-- No page or controller created for this yet -->
                                <a class="nav-link text-white" asp-area="" asp-controller="Student" asp-action="Reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <!-- No page or controller created for this yet -->
                                <a class="nav-link text-white" asp-area="" asp-controller="Student" asp-action="Documents">Documents</a>
                            </li>
                        </ul>
                    }
                </div>*@


            <!-- Log-in/log-out -->
            <ul class="nav navbar navbar-right ">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <span class="text-white LogOut">@User.Identity.Name</span>
                            <input type="submit" value="Log Out" class="btn btn-outline-light"/>
                        </form>
                    </li>
                }
                else
                {
                    // Get current action
                    var action = ViewContext.RouteData.Values["action"]?.ToString();
                    // anonymous user - Register link and Log In button
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Account" asp-action="Register">
                            <span class="fas fa-edit"></span> &nbsp; Register </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" asp-action="LogIn" asp-controller="Account">
                            Log In
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="border-top fixed-bottom text-muted">
    <div class="container">
        &copy; 2025 - PeerReviewApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>