@model IList<Grade>
@{
    ViewData["Title"] = "My Reviews";
}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col"><a class="btn btn-secondary" asp-action="Index">Back</a></div>
        <div class="col-9"></div>
    </div>

    <h1 class="text-center fw-bolder">My Grades</h1>

    @if (Model.Any())
    {
        <ul class="list-group">
            @foreach (var g in Model)
            {
                <li class="list-group-item">
                    @*<h3>@g.Assignment.Course.Name - @g.Assignment.Title</h3>*@
                    <h5>Grade: @(g.Value)%</h5>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">
            You do not currently have any graded assignments.
        </div>
    }
</div>