@model List<Review>
@{
    ViewData["Title"] = "My Reviews";
}

<h1 class="text-center fw-bolder">Reviews</h1>

@if (Model.Any())
{
    <ul class="list-group">
    @foreach (var version in Model)
        {
        <li class="list-group-item">
            <h3>@version.Assignment.Course.Name - @version.Assignment.Title</h3>
            <h5>Reviewee: @version.Reviewee</h5>
            <a asp-action="ViewReviews">Download Assignment</a>
        </li>
    }
    </ul>
}
else
{
    <div class="alert alert-info">
        You are not currently assigned to any reviews.
    </div>
}