@model Document

@{
    ViewData["Title"] = "Upload Document";
}

<div class="container-fluid form-container">
    <div class="row pb-3">
        <div class="col"><a asp-action="Documents" class="btn btn-secondary">Back</a></div>
        <div class="col text-center"><h3>New Upload</h3></div>
        <div class="col"></div>
    </div>
    
    <div class="row form-body">
        <form method="post" asp-controller="Home" asp-action="Upload" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="row form-title pb-2">
                <label for="title">File Name</label>
                <input asp-for="Name" id="title" type="text"/>
            </div>
            <div class="row">
                <label for="file">Maximum File Size 20 mb</label>
                <input asp-for="File" id="file" type="file"/>
            </div>
            <div class="row text-end">
                <div class="col py-3">
                    <a class="btn btn-secondary">Cancel</a>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}